<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>MPG Predictor</title>
  </head>
  <body>
    
    <!-- Header Section -->
    <div class="container-fluid bg-dark p-5">
      <div class="row justify-content-center text-light">
        <h1 class="display-4 text-center">MPG PREDICTOR</h1>
      </div>
    </div>

    <!-- Text Section -->
    <div class="container mt-3">
      <div class="row justify-content-center">
        <p class="lead p-3">Input the following details below to get your miles-per-gallon predicted value.</p>
      </div>
    </div>

    <!-- Form Section -->
    <div class="container mb-5">
      <form>
        <div class="row">
          <!-- Car Name -->
          <div class="form-group col-sm">
            <label for="car_name_field">Car Name</label>
            <input type="number" class="form-control" id="car_name_field">
          </div>

          <!-- Model Year -->
          <div class="form-group col-sm">
            <label for="model_field">Model Year</label>
            <input type="number" class="form-control" id="model_field">
          </div>

          <!-- Horsepower -->
          <div class="form-group col-sm">
            <label for="horsepower_field">Horsepower</label>
            <input type="number" class="form-control" id="horsepower_field">
          </div>

        </div>

        <div class="row">
          <!-- Weight -->
          <div class="form-group col-sm">
            <label for="weight_field">Weight</label>
            <input type="number" class="form-control" id="weight_field">
          </div>

          <!-- Acceleration -->
          <div class="form-group col-sm">
            <label for="acceleration_field">Acceleration</label>
            <input type="number" class="form-control" id="acceleration_field">
          </div>

          <!-- Displacement -->
          <div class="form-group col-sm">
            <label for="displacement_field">Displacement</label>
            <input type="number" class="form-control" id="displacement_field">
          </div>
  
        </div>

        <div class="row">
          <!-- Origin -->
          <div class="form-group col-sm-4">
            <label for="origin_field">Origin</label>
            <input type="number" class="form-control" id="origin_field">
          </div>

          <!-- Cylinders -->
          <div class="form-group col-sm-4">
            <label for="cylinder_field">Cylinders</label>
            <input type="number" class="form-control" id="cylinder_field">
          </div>

        </div>

        <!-- Submit Button -->
        <div class="row justify-content-center">
          <button class="btn btn-dark" type="submit">GET MGP PREDICTION</button>
        </div>

      </form>
    </div>


    <!-- Footer Section -->
    <div class="container-fluid bg-dark mt-3 ">
      <div class="row justify-content-center p-5">
        <p class="lead text-white">MSCI 436 PROJECT</p>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>